In [3]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\benutzer 1\anaconda3\lib\site-packages (3.11.4)

In [4]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\benutzer 1\anaconda3\lib\site-packages (3.11.4)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in c:\users\benutzer 1\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)

In [5]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [6]:
client = MongoClient('mongodb+srv://planetslittlehelper:plh_techLabs2021@challenges.1a54e.mongodb.net/plh?authSource=admin&replicaSet=atlas-9zj051-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true')
filter={}

In [7]:
user_choice = client['plh']['users'].find(
  filter=filter
)

In [8]:
print(user_choice)

<pymongo.cursor.Cursor object at 0x000002159034C790>

In [9]:
for row in user_choice:
    print(row)

{'_id': ObjectId('60d899366530060c10d4f9f4'), 'challenges': [{'id': '60b54873f81c532bd8942920', 'title': 'Eat less meat and dairy', 'description': 'Avoiding meat and dairy products is one of the biggest ways to reduce your environmental impact on the planet. Studies suggest that a high-fibre, plant-based diet is also better for your health - so it can be a win-win.', 'completed': False}], 'imageUrl': 'uploads\\_leaves.jpg', 'email': 'test@test.com', 'password': '$2b$10$K9AmPQgglR6ZsH5OoOG18eTHunEhaAT/YIDn5bf.yGZRoNXLddjgS', 'username': 'Test', '__v': 0}
{'_id': ObjectId('60d89aac487f122514163b8d'), 'challenges': [], 'imageUrl': './uploads/mask.png', 'email': 'test1@test.com', 'password': '$2b$10$/xQr8ESSzLJ1972PwV7eHuByDoFKYCeA/giJpgoqUoWLtNaxtbrki', 'username': 'Test1', '__v': 0}
{'_id': ObjectId('60d89aeb487f122514163b8e'), 'challenges': [{'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': True}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': False}, {'id': '60b54873f81c532bd8942921', 'title': 'Reduce your food waste', 'description': "Around a third of the food produced for human consumption (1.3 billion tonnes) is wasted each year. Food that goes to landfill rots and releases methane, a greenhouse gas that's far more potent than carbon dioxide. Food that goes to compost releases far less methane.", 'completed': False}], 'imageUrl': 'uploads\\IMG_20180513_214419_565.jpg', 'email': 'giulia@giulia.com', 'password': '$2b$10$huY7ea1.pV0K.1WZHhzGlO6c7wih45ILJcz3QZTZxtHJVi88J0Sb6', 'username': 'Giulia', '__v': 0}
{'_id': ObjectId('60d89b7d487f122514163b8f'), 'challenges': [], 'imageUrl': './uploads/mask.png', 'email': 'test2@test.com', 'password': '$2b$10$dpp97tQAY7XscJmIH1sJ3uHdludIQpZ4GKQj7b9R/nYMdKrAPfm6q', 'username': 'test2', '__v': 0}
{'_id': ObjectId('60d8b9ae9bec304040d6fd16'), 'challenges': [{'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': False}, {'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': False}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}, {'id': '60b54873f81c532bd8942928', 'title': 'Choose your energy provider wisely', 'description': "Switching to a green energy tariff can reduce your personal emissions by approximately 1 tonne of CO2 per year. It also changes demand in the energy sector - helping to drive the transition to a clean energy future. The energy used to heat our homes, cook our food and power our appliances accounts for approximately 30% of the average person's annual emissions.", 'completed': False}], 'imageUrl': 'uploads\\_LAN4322.jpg', 'email': 'in4eto_77777@abv.bg', 'password': '$2b$10$m9iWPf2doJUSrff4vgCHYupLjbhCwHpYnWqS42fW33jLky9wYDlBm', 'username': 'InaDavidova', '__v': 0}
{'_id': ObjectId('60d8bad69bec304040d6fd18'), 'challenges': [{'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': False}, {'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': False}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}], 'imageUrl': './uploads/mask.png', 'email': 'ina.davidovaa@gmail.com', 'password': '$2b$10$JB8Mmgn9r3GJ95ZLtitF/.uo.NbstQgQvQulg6hJkbNEFJltPxKnO', 'username': 'InaaDavidova', '__v': 0}

In [10]:
user_choice = client['plh']['users'].find(
  filter=filter
)

In [11]:
#making user_choice it into a cursor
print(user_choice)

<pymongo.cursor.Cursor object at 0x0000021590362490>

In [12]:
list_user_cursor = list(user_choice)
print(list_user_cursor)

[{'_id': ObjectId('60d899366530060c10d4f9f4'), 'challenges': [{'id': '60b54873f81c532bd8942920', 'title': 'Eat less meat and dairy', 'description': 'Avoiding meat and dairy products is one of the biggest ways to reduce your environmental impact on the planet. Studies suggest that a high-fibre, plant-based diet is also better for your health - so it can be a win-win.', 'completed': False}], 'imageUrl': 'uploads\\_leaves.jpg', 'email': 'test@test.com', 'password': '$2b$10$K9AmPQgglR6ZsH5OoOG18eTHunEhaAT/YIDn5bf.yGZRoNXLddjgS', 'username': 'Test', '__v': 0}, {'_id': ObjectId('60d89aac487f122514163b8d'), 'challenges': [], 'imageUrl': './uploads/mask.png', 'email': 'test1@test.com', 'password': '$2b$10$/xQr8ESSzLJ1972PwV7eHuByDoFKYCeA/giJpgoqUoWLtNaxtbrki', 'username': 'Test1', '__v': 0}, {'_id': ObjectId('60d89aeb487f122514163b8e'), 'challenges': [{'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': True}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': False}, {'id': '60b54873f81c532bd8942921', 'title': 'Reduce your food waste', 'description': "Around a third of the food produced for human consumption (1.3 billion tonnes) is wasted each year. Food that goes to landfill rots and releases methane, a greenhouse gas that's far more potent than carbon dioxide. Food that goes to compost releases far less methane.", 'completed': False}], 'imageUrl': 'uploads\\IMG_20180513_214419_565.jpg', 'email': 'giulia@giulia.com', 'password': '$2b$10$huY7ea1.pV0K.1WZHhzGlO6c7wih45ILJcz3QZTZxtHJVi88J0Sb6', 'username': 'Giulia', '__v': 0}, {'_id': ObjectId('60d89b7d487f122514163b8f'), 'challenges': [], 'imageUrl': './uploads/mask.png', 'email': 'test2@test.com', 'password': '$2b$10$dpp97tQAY7XscJmIH1sJ3uHdludIQpZ4GKQj7b9R/nYMdKrAPfm6q', 'username': 'test2', '__v': 0}, {'_id': ObjectId('60d8b9ae9bec304040d6fd16'), 'challenges': [{'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': False}, {'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': False}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}, {'id': '60b54873f81c532bd8942928', 'title': 'Choose your energy provider wisely', 'description': "Switching to a green energy tariff can reduce your personal emissions by approximately 1 tonne of CO2 per year. It also changes demand in the energy sector - helping to drive the transition to a clean energy future. The energy used to heat our homes, cook our food and power our appliances accounts for approximately 30% of the average person's annual emissions.", 'completed': False}], 'imageUrl': 'uploads\\_LAN4322.jpg', 'email': 'in4eto_77777@abv.bg', 'password': '$2b$10$m9iWPf2doJUSrff4vgCHYupLjbhCwHpYnWqS42fW33jLky9wYDlBm', 'username': 'InaDavidova', '__v': 0}, {'_id': ObjectId('60d8bad69bec304040d6fd18'), 'challenges': [{'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': False}, {'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': False}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}], 'imageUrl': './uploads/mask.png', 'email': 'ina.davidovaa@gmail.com', 'password': '$2b$10$JB8Mmgn9r3GJ95ZLtitF/.uo.NbstQgQvQulg6hJkbNEFJltPxKnO', 'username': 'InaaDavidova', '__v': 0}]

In [13]:
#make it into dataframe
pd.set_option('display.max_columns', 100)
user_df = pd.DataFrame(list_user_cursor)
user_df.head()

,_id,challenges,imageUrl,email,password,username,__v
0,60d899366530060c10d4f9f4,"[{'id': '60b54873f81c532bd8942920', 'title': '...",uploads\_leaves.jpg,test@test.com,$2b$10$K9AmPQgglR6ZsH5OoOG18eTHunEhaAT/YIDn5bf...,Test,0
1,60d89aac487f122514163b8d,[],./uploads/mask.png,test1@test.com,$2b$10$/xQr8ESSzLJ1972PwV7eHuByDoFKYCeA/giJpgo...,Test1,0
2,60d89aeb487f122514163b8e,"[{'id': '60b54873f81c532bd8942925', 'title': '...",uploads\IMG_20180513_214419_565.jpg,giulia@giulia.com,$2b$10$huY7ea1.pV0K.1WZHhzGlO6c7wih45ILJcz3QZT...,Giulia,0
3,60d89b7d487f122514163b8f,[],./uploads/mask.png,test2@test.com,$2b$10$dpp97tQAY7XscJmIH1sJ3uHdludIQpZ4GKQj7b9...,test2,0
4,60d8b9ae9bec304040d6fd16,"[{'id': '60b54873f81c532bd8942925', 'title': '...",uploads\_LAN4322.jpg,in4eto_77777@abv.bg,$2b$10$m9iWPf2doJUSrff4vgCHYupLjbhCwHpYnWqS42f...,InaDavidova,0

In [14]:
user_df['challenges'].dtypes

dtype('O')

In [15]:
#user_df['challenges'] = user_df['challenges'].map(lambda x: ast.literal_eval(x))

In [16]:
def make_challengeList1(x):
    cha = []
    for i in x:
        cha.append(i.get('title'))
    if cha == []:
        return np.NaN
    else:
        return (cha[0])

In [17]:
user_df['challenges_1_list'] = user_df['challenges'].map(lambda x: make_challengeList1(x))
user_df['challenges_1_list']

0    Eat less meat and dairy
1                        NaN
2                    Flights
3                        NaN
4                    Flights
5                    Flights
Name: challenges_1_list, dtype: object

In [18]:
def make_challengeList2(x):
    cha = []
    for i in x:
        cha.append(i.get('title'))
    if cha == [] or len(cha)<=1:
        return np.NaN
    else:
        return (cha[2])

In [19]:
user_df['challenges_2_list'] = user_df['challenges'].map(lambda x: make_challengeList2(x))
user_df['challenges_2_list']

0                       NaN
1                       NaN
2    Reduce your food waste
3                       NaN
4          Public transport
5          Public transport
Name: challenges_2_list, dtype: object

In [20]:
def make_challengeList3(x):
    cha = []
    for i in x:
        cha.append(i.get('title'))
    if cha == [] or len(cha)<=2:
        return np.NaN
    else:
        return (cha[2])

In [21]:
user_df['challenges_3_list'] = user_df['challenges'].map(lambda x: make_challengeList3(x))
user_df['challenges_3_list']

0                       NaN
1                       NaN
2    Reduce your food waste
3                       NaN
4          Public transport
5          Public transport
Name: challenges_3_list, dtype: object

In [22]:
# _id of 
def make_challengeId1(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == []:
        return np.NaN
    else:
        return (chaid[0])

In [23]:
#extract challenge id
def make_challengeId1(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == []:
        return np.NaN
    else:
        return (chaid[0])

In [24]:
user_df['challenges_1_id'] = user_df['challenges'].map(lambda x: make_challengeId1(x))
user_df['challenges_1_id']

0    60b54873f81c532bd8942920
1                         NaN
2    60b54873f81c532bd8942925
3                         NaN
4    60b54873f81c532bd8942925
5    60b54873f81c532bd8942925
Name: challenges_1_id, dtype: object

In [25]:
def make_challengeId2(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == [] or len(chaid)<=1:
        return np.NaN
    else:
        return (chaid[1])

In [26]:
user_df['challenges_2_id'] = user_df['challenges'].map(lambda x: make_challengeId2(x))
user_df['challenges_2_id']

0                         NaN
1                         NaN
2    60b54873f81c532bd894292b
3                         NaN
4    60b54873f81c532bd8942926
5    60b54873f81c532bd8942926
Name: challenges_2_id, dtype: object

In [27]:
def make_challengeId3(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == [] or len(chaid)<=2:
        return np.NaN
    else:
        return (chaid[2])

In [28]:
user_df['challenges_3_id'] = user_df['challenges'].map(lambda x: make_challengeId3(x))
user_df['challenges_3_id']

0                         NaN
1                         NaN
2    60b54873f81c532bd8942921
3                         NaN
4    60b54873f81c532bd8942927
5    60b54873f81c532bd8942927
Name: challenges_3_id, dtype: object

In [29]:
user_df.columns

Index(['_id', 'challenges', 'imageUrl', 'email', 'password', 'username', '__v',
       'challenges_1_list', 'challenges_2_list', 'challenges_3_list',
       'challenges_1_id', 'challenges_2_id', 'challenges_3_id'],
      dtype='object')

In [30]:
user_challenge_df = user_df.loc[:,['_id','challenges_1_list','challenges_2_list','challenges_3_list']]
user_challenge_df

,_id,challenges_1_list,challenges_2_list,challenges_3_list
0,60d899366530060c10d4f9f4,Eat less meat and dairy,NaN,NaN
1,60d89aac487f122514163b8d,NaN,NaN,NaN
2,60d89aeb487f122514163b8e,Flights,Reduce your food waste,Reduce your food waste
3,60d89b7d487f122514163b8f,NaN,NaN,NaN
4,60d8b9ae9bec304040d6fd16,Flights,Public transport,Public transport
5,60d8bad69bec304040d6fd18,Flights,Public transport,Public transport

In [34]:
a = user_challenge_df.set_index('_id').stack().reset_index().head()
a

                        _id            level_1                        0
0  60d899366530060c10d4f9f4  challenges_1_list  Eat less meat and dairy
1  60d89aeb487f122514163b8e  challenges_1_list                  Flights
2  60d89aeb487f122514163b8e  challenges_2_list   Reduce your food waste
3  60d89aeb487f122514163b8e  challenges_3_list   Reduce your food waste
4  60d8b9ae9bec304040d6fd16  challenges_1_list                  Flights

In [35]:
a.rename(columns= {'level_1': 'nona',0:'challenges_list'}, inplace=True )
a

                        _id               nona          challenges_list
0  60d899366530060c10d4f9f4  challenges_1_list  Eat less meat and dairy
1  60d89aeb487f122514163b8e  challenges_1_list                  Flights
2  60d89aeb487f122514163b8e  challenges_2_list   Reduce your food waste
3  60d89aeb487f122514163b8e  challenges_3_list   Reduce your food waste
4  60d8b9ae9bec304040d6fd16  challenges_1_list                  Flights

In [48]:
chaid_df = user_df.loc[:,['_id','challenges_1_list','challenges_2_list','challenges_3_list']]
chaid_df

,_id,challenges_1_list,challenges_2_list,challenges_3_list
0,60d899366530060c10d4f9f4,Eat less meat and dairy,NaN,NaN
1,60d89aac487f122514163b8d,NaN,NaN,NaN
2,60d89aeb487f122514163b8e,Flights,Reduce your food waste,Reduce your food waste
3,60d89b7d487f122514163b8f,NaN,NaN,NaN
4,60d8b9ae9bec304040d6fd16,Flights,Public transport,Public transport
5,60d8bad69bec304040d6fd18,Flights,Public transport,Public transport

In [49]:
chaid_df.set_index('_id', inplace=True)
chaid_df.head()

,challenges_1_list,challenges_2_list,challenges_3_list
_id,,,
60d899366530060c10d4f9f4,Eat less meat and dairy,NaN,NaN
60d89aac487f122514163b8d,NaN,NaN,NaN
60d89aeb487f122514163b8e,Flights,Reduce your food waste,Reduce your food waste
60d89b7d487f122514163b8f,NaN,NaN,NaN
60d8b9ae9bec304040d6fd16,Flights,Public transport,Public transport

In [50]:
chaid_df.values

array([['Eat less meat and dairy', nan, nan],
       [nan, nan, nan],
       ['Flights', 'Reduce your food waste', 'Reduce your food waste'],
       [nan, nan, nan],
       ['Flights', 'Public transport', 'Public transport'],
       ['Flights', 'Public transport', 'Public transport']], dtype=object)

In [55]:
chaid_df.values.tolist()

[['Eat less meat and dairy', nan, nan],
 [nan, nan, nan],
 ['Flights', 'Reduce your food waste', 'Reduce your food waste'],
 [nan, nan, nan],
 ['Flights', 'Public transport', 'Public transport'],
 ['Flights', 'Public transport', 'Public transport']]

In [51]:
import random

In [52]:
challenges = {
    1: "Fast fashion",
    2: "Home energy",
    3: "Eat less meat and dairy",
    4: "Conscious nutrition",
    5: "Raw",
    6: "Reduce your food waste",
    7: "Bulk/unpackaged",
    8: "Local and seasonal food",
    9: "Choose your energy provider wisely",
    10: "Flights",
    11: "Single use",
    12: "Bike and legs",
    13: "Public transport",
}

In [54]:
def filter_existing_challenges(current_challenges: list) -> dict:
    return {challenge_id: challenge_desc for challenge_id, challenge_desc in challenges.items()
            if challenge_id not in current_challenges}

if __name__ == "__main__":
    # start from the first challenge, but could also start from a random one
    last_challenge_id = 1
    last_challenge_desc = challenges[last_challenge_id]

    print(f"First challenge: '{last_challenge_desc}'")

    # adds the current challenge to the list of recommendations
    current_rec_challenges.append(last_challenge_id)

    while len(current_rec_challenges) != len(challenges):
        # best recommendation after the current challenge
        last_challenge_id = recommend(last_challenge_desc)

        log_line = f"Next best challenge after '{last_challenge_desc}' is "

        last_challenge_desc = challenges[last_challenge_id]

        log_line = log_line + f"'{last_challenge_desc}'"

        print(log_line)

        # add the newly recommended challenge to the list
        current_rec_challenges.append(last_challenge_id)

    final_recommendations = {challenge_id: challenges[challenge_id] for challenge_id in current_rec_challenges}

    print("\nFinal recommendation sequence:")
    for challenge_id, desc in final_recommendations.items():
        print(f"\t{challenge_id} = {desc}")

First challenge: 'Fast fashion'
Next best challenge after 'Fast fashion' is 'Single use'
Next best challenge after 'Single use' is 'Local and seasonal food'
Next best challenge after 'Local and seasonal food' is 'Raw'
Next best challenge after 'Raw' is 'Conscious nutrition'
Next best challenge after 'Conscious nutrition' is 'Eat less meat and dairy'
Next best challenge after 'Eat less meat and dairy' is 'Public transport'
Next best challenge after 'Public transport' is 'Bike and legs'
Next best challenge after 'Bike and legs' is 'Home energy'
Next best challenge after 'Home energy' is 'Flights'
Next best challenge after 'Flights' is 'Bulk/unpackaged'
Next best challenge after 'Bulk/unpackaged' is 'Choose your energy provider wisely'
Next best challenge after 'Choose your energy provider wisely' is 'Reduce your food waste'

Final recommendation sequence:
	1 = Fast fashion
	11 = Single use
	8 = Local and seasonal food
	5 = Raw
	4 = Conscious nutrition
	3 = Eat less meat and dairy
	13 = Public transport
	12 = Bike and legs
	2 = Home energy
	10 = Flights
	7 = Bulk/unpackaged
	9 = Choose your energy provider wisely
	6 = Reduce your food waste

In [62]:
bini = [10,6,6]
filter_existing_challenges(bini)

{1: 'Fast fashion',
 2: 'Home energy',
 3: 'Eat less meat and dairy',
 4: 'Conscious nutrition',
 5: 'Raw',
 7: 'Bulk/unpackaged',
 8: 'Local and seasonal food',
 9: 'Choose your energy provider wisely',
 11: 'Single use',
 12: 'Bike and legs',
 13: 'Public transport'}