In [149]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\benutzer 1\anaconda3\lib\site-packages (3.11.4)

In [150]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\benutzer 1\anaconda3\lib\site-packages (3.11.4)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in c:\users\benutzer 1\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)

In [151]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [152]:
client = MongoClient('mongodb+srv://planetslittlehelper:plh_techLabs2021@challenges.1a54e.mongodb.net/plh?authSource=admin&replicaSet=atlas-9zj051-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true')
filter={}

In [153]:
user_choice = client['plh']['users'].find(
  filter=filter
)

In [154]:
print(user_choice)

<pymongo.cursor.Cursor object at 0x000002291E175CA0>

In [155]:
for row in user_choice:
    print(row)

{'_id': ObjectId('60bfa054f603a8303c278fee'), 'challenges': [{'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': False}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': False}], 'email': 'in4eto_77777@abv.bg', 'password': '$2b$10$HGv8tsUItaDfSo7CLoMjQuDJ1x4EKrzh8apyvyPF2bmd2lJHAhzsm', 'username': 'InaDavidova', '__v': 0}
{'_id': ObjectId('60c4f157c4146b3424a5076f'), 'challenges': [], 'email': 'jj@jj.com', 'password': '$2b$10$H2oPUWbhLyy2eluCrDvXfuEL4lUASjYvJno/0AVHp1VRQQtKuCIFy', 'username': 'jessica', '__v': 0}
{'_id': ObjectId('60cd09d4c9bfbe372c3ad298'), 'challenges': [{'id': '60b54873f81c532bd8942921', 'title': 'Reduce your food waste', 'description': "Around a third of the food produced for human consumption (1.3 billion tonnes) is wasted each year. Food that goes to landfill rots and releases methane, a greenhouse gas that's far more potent than carbon dioxide. Food that goes to compost releases far less methane.", 'completed': False}, {'id': '60b54873f81c532bd8942922', 'title': 'Local and seasonal food', 'description': 'The best way to reduce the emissions caused by your food miles is to avoid products that have been flown-in or have been grown out of season in artificial conditions', 'completed': True}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': True}, {'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': True}, {'id': '60b54873f81c532bd8942923', 'title': 'Conscious nutrition', 'description': 'It is important to be mindful of the water that we drink as well as the food that we eat. Organic food is more environmentally friendly and does not add any chemicals to the drinking water.', 'completed': False}, {'id': '60b54873f81c532bd8942929', 'title': 'Home energy', 'description': 'With household energy accounting for around 30% of individual emissions, reducing your consumption is a simple way to reduce emissions.', 'completed': False}], 'email': 'test@test.com', 'password': '$2b$10$AXhDFONUbyNAORWBGIkfTOVuHYjO1TH1DdOEUW.5GyTbNze7LeUCm', 'username': 'test', '__v': 0}
{'_id': ObjectId('60cdbcff97e1be52a419a1b3'), 'challenges': [{'id': '60b54873f81c532bd8942920', 'title': 'Eat less meat and dairy', 'description': 'Avoiding meat and dairy products is one of the biggest ways to reduce your environmental impact on the planet. Studies suggest that a high-fibre, plant-based diet is also better for your health - so it can be a win-win.', 'completed': True}, {'id': '60b54873f81c532bd8942923', 'title': 'Conscious nutrition', 'description': 'It is important to be mindful of the water that we drink as well as the food that we eat. Organic food is more environmentally friendly and does not add any chemicals to the drinking water.', 'completed': False}, {'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': True}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': False}, {'id': '60b54873f81c532bd8942924', 'title': 'Raw', 'description': 'Not all foods should be eaten raw, but many vegetables can be eaten in that way which saves energy. It is yet another environmentally friendly way to keep you and environment healthy.', 'completed': False}], 'email': 'nico@nico.com', 'password': '$2b$10$B9DS876QOESIr0ViuZ.Dnuuklu/MEaS9dDhUNXKB.te.45iMxLmzW', 'username': 'Nick', '__v': 0}

In [156]:
user_choice = client['plh']['users'].find(
  filter=filter
)

In [157]:
#making user_choice it into a cursor
print(user_choice)

<pymongo.cursor.Cursor object at 0x000002291DDFAFD0>

In [158]:
list_user_cursor = list(user_choice)
print(list_user_cursor)

[{'_id': ObjectId('60bfa054f603a8303c278fee'), 'challenges': [{'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': False}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': False}], 'email': 'in4eto_77777@abv.bg', 'password': '$2b$10$HGv8tsUItaDfSo7CLoMjQuDJ1x4EKrzh8apyvyPF2bmd2lJHAhzsm', 'username': 'InaDavidova', '__v': 0}, {'_id': ObjectId('60c4f157c4146b3424a5076f'), 'challenges': [], 'email': 'jj@jj.com', 'password': '$2b$10$H2oPUWbhLyy2eluCrDvXfuEL4lUASjYvJno/0AVHp1VRQQtKuCIFy', 'username': 'jessica', '__v': 0}, {'_id': ObjectId('60cd09d4c9bfbe372c3ad298'), 'challenges': [{'id': '60b54873f81c532bd8942921', 'title': 'Reduce your food waste', 'description': "Around a third of the food produced for human consumption (1.3 billion tonnes) is wasted each year. Food that goes to landfill rots and releases methane, a greenhouse gas that's far more potent than carbon dioxide. Food that goes to compost releases far less methane.", 'completed': False}, {'id': '60b54873f81c532bd8942922', 'title': 'Local and seasonal food', 'description': 'The best way to reduce the emissions caused by your food miles is to avoid products that have been flown-in or have been grown out of season in artificial conditions', 'completed': True}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': True}, {'id': '60b54873f81c532bd8942925', 'title': 'Flights', 'description': 'Flying is carbon intensive. The combustion of jet fuel releases a lot of carbon emissions. Per-passenger, a single long haul flight can generate more emissions than many people in the world produce in an entire year. If you are a frequent flyer, reducing the amount you fly will almost certainly be the most impactful way you can help fight climate change.', 'completed': True}, {'id': '60b54873f81c532bd8942923', 'title': 'Conscious nutrition', 'description': 'It is important to be mindful of the water that we drink as well as the food that we eat. Organic food is more environmentally friendly and does not add any chemicals to the drinking water.', 'completed': False}, {'id': '60b54873f81c532bd8942929', 'title': 'Home energy', 'description': 'With household energy accounting for around 30% of individual emissions, reducing your consumption is a simple way to reduce emissions.', 'completed': False}], 'email': 'test@test.com', 'password': '$2b$10$AXhDFONUbyNAORWBGIkfTOVuHYjO1TH1DdOEUW.5GyTbNze7LeUCm', 'username': 'test', '__v': 0}, {'_id': ObjectId('60cdbcff97e1be52a419a1b3'), 'challenges': [{'id': '60b54873f81c532bd8942920', 'title': 'Eat less meat and dairy', 'description': 'Avoiding meat and dairy products is one of the biggest ways to reduce your environmental impact on the planet. Studies suggest that a high-fibre, plant-based diet is also better for your health - so it can be a win-win.', 'completed': True}, {'id': '60b54873f81c532bd8942923', 'title': 'Conscious nutrition', 'description': 'It is important to be mindful of the water that we drink as well as the food that we eat. Organic food is more environmentally friendly and does not add any chemicals to the drinking water.', 'completed': False}, {'id': '60b54873f81c532bd8942926', 'title': 'Bike and legs', 'description': "Cycling and walking are completely carbon neutral. With transport making up around 30% of our individual emissions, choosing to walk or cycle instead of drive is a simple, impactful way to take action on climate change. Making short journeys by car is particularly polluting as the catalytic converters that reduce these pollutants don't work effectively on trips under 8 Kilometers", 'completed': True}, {'id': '60b54873f81c532bd8942927', 'title': 'Public transport', 'description': 'Emissions released when using public transport are far lower than when taking a car. Driving a car to work produces more than 4 times the carbon emissions as catching the train', 'completed': False}, {'id': '60b54873f81c532bd894292b', 'title': 'Fast fashion', 'description': 'Rejecting fast fashion could prevent an estimated 0.3 tonnes of CO2 emissions each year (see impact calculations). It also helps force the fashion industry to address unsustainable practices. Whether buying natural materials like cotton or synthetic materials like polyester or nylon, all clothes have a very real carbon footprint. ', 'completed': False}, {'id': '60b54873f81c532bd8942924', 'title': 'Raw', 'description': 'Not all foods should be eaten raw, but many vegetables can be eaten in that way which saves energy. It is yet another environmentally friendly way to keep you and environment healthy.', 'completed': False}], 'email': 'nico@nico.com', 'password': '$2b$10$B9DS876QOESIr0ViuZ.Dnuuklu/MEaS9dDhUNXKB.te.45iMxLmzW', 'username': 'Nick', '__v': 0}]

In [159]:
#make it into dataframe
pd.set_option('display.max_columns', 100)
user_df = pd.DataFrame(list_user_cursor)
user_df.head()

,_id,challenges,email,password,username,__v
0,60bfa054f603a8303c278fee,"[{'id': '60b54873f81c532bd8942926', 'title': '...",in4eto_77777@abv.bg,$2b$10$HGv8tsUItaDfSo7CLoMjQuDJ1x4EKrzh8apyvyP...,InaDavidova,0
1,60c4f157c4146b3424a5076f,[],jj@jj.com,$2b$10$H2oPUWbhLyy2eluCrDvXfuEL4lUASjYvJno/0AV...,jessica,0
2,60cd09d4c9bfbe372c3ad298,"[{'id': '60b54873f81c532bd8942921', 'title': '...",test@test.com,$2b$10$AXhDFONUbyNAORWBGIkfTOVuHYjO1TH1DdOEUW....,test,0
3,60cdbcff97e1be52a419a1b3,"[{'id': '60b54873f81c532bd8942920', 'title': '...",nico@nico.com,$2b$10$B9DS876QOESIr0ViuZ.Dnuuklu/MEaS9dDhUNXK...,Nick,0

In [160]:
user_df['challenges'].dtypes

dtype('O')

In [161]:
#user_df['challenges'] = user_df['challenges'].map(lambda x: ast.literal_eval(x))

In [162]:
def make_challengeList1(x):
    cha = []
    for i in x:
        cha.append(i.get('title'))
    if cha == []:
        return np.NaN
    else:
        return (cha[0])

In [163]:
user_df['challenges_1_list'] = user_df['challenges'].map(lambda x: make_challengeList1(x))
user_df['challenges_1_list']

0              Bike and legs
1                        NaN
2     Reduce your food waste
3    Eat less meat and dairy
Name: challenges_1_list, dtype: object

In [164]:
def make_challengeList2(x):
    cha = []
    for i in x:
        cha.append(i.get('title'))
    if cha == [] or len(cha)<=1:
        return np.NaN
    else:
        return (cha[2])

In [165]:
user_df['challenges_2_list'] = user_df['challenges'].map(lambda x: make_challengeList2(x))
user_df['challenges_2_list']

0     Fast fashion
1              NaN
2     Fast fashion
3    Bike and legs
Name: challenges_2_list, dtype: object

In [166]:
def make_challengeList3(x):
    cha = []
    for i in x:
        cha.append(i.get('title'))
    if cha == [] or len(cha)<=2:
        return np.NaN
    else:
        return (cha[2])

In [167]:
user_df['challenges_3_list'] = user_df['challenges'].map(lambda x: make_challengeList3(x))
user_df['challenges_3_list']

0     Fast fashion
1              NaN
2     Fast fashion
3    Bike and legs
Name: challenges_3_list, dtype: object

In [171]:
# _id of 
def make_challengeId1(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == []:
        return np.NaN
    else:
        return (chaid[0])

In [172]:
#extract challenge id
def make_challengeId1(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == []:
        return np.NaN
    else:
        return (chaid[0])

In [173]:
user_df['challenges_1_id'] = user_df['challenges'].map(lambda x: make_challengeId1(x))
user_df['challenges_1_id']

0    60b54873f81c532bd8942926
1                         NaN
2    60b54873f81c532bd8942921
3    60b54873f81c532bd8942920
Name: challenges_1_id, dtype: object

In [174]:
def make_challengeId2(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == [] or len(chaid)<=1:
        return np.NaN
    else:
        return (chaid[1])

In [175]:
user_df['challenges_2_id'] = user_df['challenges'].map(lambda x: make_challengeId2(x))
user_df['challenges_2_id']

0    60b54873f81c532bd8942927
1                         NaN
2    60b54873f81c532bd8942922
3    60b54873f81c532bd8942923
Name: challenges_2_id, dtype: object

In [176]:
def make_challengeId3(x):
    chaid = []
    for i in x:
        chaid.append(i.get('id'))
    if chaid == [] or len(chaid)<=2:
        return np.NaN
    else:
        return (chaid[2])

In [177]:
user_df['challenges_3_id'] = user_df['challenges'].map(lambda x: make_challengeId3(x))
user_df['challenges_3_id']

0    60b54873f81c532bd894292b
1                         NaN
2    60b54873f81c532bd894292b
3    60b54873f81c532bd8942926
Name: challenges_3_id, dtype: object

In [178]:
user_df.columns

Index(['_id', 'challenges', 'email', 'password', 'username', '__v',
       'challenges_1_list', 'challenges_2_list', 'challenges_3_list',
       'challenges_1_id', 'challenges_2_id', 'challenges_3_id'],
      dtype='object')

In [179]:
user_challenge_df = user_df.loc[:,['_id','challenges_1_list','challenges_2_list','challenges_3_list']]
user_challenge_df

,_id,challenges_1_list,challenges_2_list,challenges_3_list
0,60bfa054f603a8303c278fee,Bike and legs,Fast fashion,Fast fashion
1,60c4f157c4146b3424a5076f,NaN,NaN,NaN
2,60cd09d4c9bfbe372c3ad298,Reduce your food waste,Fast fashion,Fast fashion
3,60cdbcff97e1be52a419a1b3,Eat less meat and dairy,Bike and legs,Bike and legs

In [180]:
a = user_challenge_df.set_index('_id').stack().reset_index().head()
a

                        _id            level_1                       0
0  60bfa054f603a8303c278fee  challenges_1_list           Bike and legs
1  60bfa054f603a8303c278fee  challenges_2_list            Fast fashion
2  60bfa054f603a8303c278fee  challenges_3_list            Fast fashion
3  60cd09d4c9bfbe372c3ad298  challenges_1_list  Reduce your food waste
4  60cd09d4c9bfbe372c3ad298  challenges_2_list            Fast fashion

In [181]:
a.rename(columns= {'level_1': 'nona',0:'challenges_list'}, inplace=True )
a

                        _id               nona         challenges_list
0  60bfa054f603a8303c278fee  challenges_1_list           Bike and legs
1  60bfa054f603a8303c278fee  challenges_2_list            Fast fashion
2  60bfa054f603a8303c278fee  challenges_3_list            Fast fashion
3  60cd09d4c9bfbe372c3ad298  challenges_1_list  Reduce your food waste
4  60cd09d4c9bfbe372c3ad298  challenges_2_list            Fast fashion

In [182]:
chaid_df = user_df.loc[:,['_id','challenges_1_id','challenges_2_id','challenges_3_id']]
chaid_df

,_id,challenges_1_id,challenges_2_id,challenges_3_id
0,60bfa054f603a8303c278fee,60b54873f81c532bd8942926,60b54873f81c532bd8942927,60b54873f81c532bd894292b
1,60c4f157c4146b3424a5076f,NaN,NaN,NaN
2,60cd09d4c9bfbe372c3ad298,60b54873f81c532bd8942921,60b54873f81c532bd8942922,60b54873f81c532bd894292b
3,60cdbcff97e1be52a419a1b3,60b54873f81c532bd8942920,60b54873f81c532bd8942923,60b54873f81c532bd8942926

In [183]:
b = chaid_df.set_index('_id').stack().reset_index().head()
b

                        _id          level_1                         0
0  60bfa054f603a8303c278fee  challenges_1_id  60b54873f81c532bd8942926
1  60bfa054f603a8303c278fee  challenges_2_id  60b54873f81c532bd8942927
2  60bfa054f603a8303c278fee  challenges_3_id  60b54873f81c532bd894292b
3  60cd09d4c9bfbe372c3ad298  challenges_1_id  60b54873f81c532bd8942921
4  60cd09d4c9bfbe372c3ad298  challenges_2_id  60b54873f81c532bd8942922

In [184]:
b.rename(columns= {'level_1': 'random',0:'challenges_id'}, inplace=True )
b

                        _id           random             challenges_id
0  60bfa054f603a8303c278fee  challenges_1_id  60b54873f81c532bd8942926
1  60bfa054f603a8303c278fee  challenges_2_id  60b54873f81c532bd8942927
2  60bfa054f603a8303c278fee  challenges_3_id  60b54873f81c532bd894292b
3  60cd09d4c9bfbe372c3ad298  challenges_1_id  60b54873f81c532bd8942921
4  60cd09d4c9bfbe372c3ad298  challenges_2_id  60b54873f81c532bd8942922

In [185]:
combo_df = pd.merge(a,b, on="_id")
combo_df

,_id,nona,challenges_list,random,challenges_id
0,60bfa054f603a8303c278fee,challenges_1_list,Bike and legs,challenges_1_id,60b54873f81c532bd8942926
1,60bfa054f603a8303c278fee,challenges_1_list,Bike and legs,challenges_2_id,60b54873f81c532bd8942927
2,60bfa054f603a8303c278fee,challenges_1_list,Bike and legs,challenges_3_id,60b54873f81c532bd894292b
3,60bfa054f603a8303c278fee,challenges_2_list,Fast fashion,challenges_1_id,60b54873f81c532bd8942926
4,60bfa054f603a8303c278fee,challenges_2_list,Fast fashion,challenges_2_id,60b54873f81c532bd8942927
5,60bfa054f603a8303c278fee,challenges_2_list,Fast fashion,challenges_3_id,60b54873f81c532bd894292b
6,60bfa054f603a8303c278fee,challenges_3_list,Fast fashion,challenges_1_id,60b54873f81c532bd8942926
7,60bfa054f603a8303c278fee,challenges_3_list,Fast fashion,challenges_2_id,60b54873f81c532bd8942927
8,60bfa054f603a8303c278fee,challenges_3_list,Fast fashion,challenges_3_id,60b54873f81c532bd894292b
9,60cd09d4c9bfbe372c3ad298,challenges_1_list,Reduce your food waste,challenges_1_id,60b54873f81c532bd8942921
10,60cd09d4c9bfbe372c3ad298,challenges_1_list,Reduce your food waste,challenges_2_id,60b54873f81c532bd8942922
11,60cd09d4c9bfbe372c3ad298,challenges_2_list,Fast fashion,challenges_1_id,60b54873f81c532bd8942921
12,60cd09d4c9bfbe372c3ad298,challenges_2_list,Fast fashion,challenges_2_id,60b54873f81c532bd8942922

In [ ]:
challengeid_df =

In [41]:
user_challenge_df = user_df.loc[:,['challenges_id','challenges_list']]
user_challenge_df

,challenges_id,challenges_list
0,60b54873f81c532bd8942926 60b54873f81c532bd8942...,Bike and legs Public transport Fast fashion
1,NaN,NaN
2,60b54873f81c532bd8942921 60b54873f81c532bd8942...,Reduce your food waste Local and seasonal food...
3,60b54873f81c532bd8942920 60b54873f81c532bd8942...,Eat less meat and dairy Conscious nutrition Bi...

In [59]:
user_challenge_df = user_challenge_df.dropna(how='any')
user_challenge_df

,challenges_id,challenges_list
0,60b54873f81c532bd8942926 60b54873f81c532bd8942...,Bike and legs Public transport Fast fashion
2,60b54873f81c532bd8942921 60b54873f81c532bd8942...,Reduce your food waste Local and seasonal food...
3,60b54873f81c532bd8942920 60b54873f81c532bd8942...,Eat less meat and dairy Conscious nutrition Bi...

In [64]:
user_df.columns

Index(['_id', 'challenges', 'email', 'password', 'username', '__v',
       'challenges_list', 'challenges_id', 'challenges_2_list',
       'challenges_1_list', 'challenges_3_list'],
      dtype='object')

In [63]:
user_df['challenges_id'] = user_df['challenges'].map(lambda x: make_challengeId(x))
user_df['challenges_id']

0    60b54873f81c532bd8942926 60b54873f81c532bd8942...
1                                                  NaN
2    60b54873f81c532bd8942921 60b54873f81c532bd8942...
3    60b54873f81c532bd8942920 60b54873f81c532bd8942...
Name: challenges_id, dtype: object